# Local development
VITE_FRONTEND_URL=http://localhost:5173
VITE_API_BASE_URL=http://localhost:5000/api

# Production example
# VITE_FRONTEND_URL=https://your-app.vercel.app
# VITE_API_BASE_URL=https://your-api.onrender.com/api

VITE_STRIPE_PUBLISHABLE_KEY=
VITE_MAPBOX_TOKEN=
